<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Channel</title>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
			integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<style>
			body {
				padding: 0;
				margin: 0;
			}
		</style>
		<link rel="stylesheet" href="/profile.css" />
		<link rel="stylesheet" href="/main.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
			rel="stylesheet"
			type="text/css"
		/>

		<script type="text/javascript">
			const username = "<%= username %>";
		</script>
	</head>

	<body>
		<nav
			class="navbar navbar-expand-lg navbar-dark"
			style="background-color: #464775"
		>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/room/">Meteor Teams</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul
					class="navbar-nav mr-auto mt-2 mt-lg-0"
					style="width: 80%; justify-content: center"
				></ul>
				<form class="form-inline my-2 my-lg-0" style="width: 20%">
					<ul
						class="navbar-nav mr-auto mt-2 mt-lg-0"
						style="width: 100%; justify-content: flex-end"
					>
						<div class="dropdown">
							<li><%= username %></li>
							<div class="dropdown-content">
								<a href="/profile/">Profile</a>
								<a href="/logout">Signout</a>
							</div>
						</div>
					</ul>
				</form>
			</div>
		</nav>

		<div class="maincontainer">
			<form style="margin-top: 5%; width: 100%" method="POST">
				<div class="form-group">
					<label for="channelname">Channel name</label>
					<input
						type="text"
						class="form-control"
						id="channelname"
						placeholder="Enter name"
						name="channelname"
					/>
				</div>

				<div class="form-group">
					<label for="channeldes" style="height: 30%">Channel description (optional)</label>
					<textarea
						class="form-control"
						id="channeldes"
						name="channeldes"
						rows="3"
						placeholder="Enter discription"
					></textarea>
				</div>
				<div class="form-group">
					<label>Add Users:</label>
					<input
						type="text"
						class="form-control"
						name="users"
						placeholder="Provide a space between two user's email."
					/>
					<small class="form-text" style="color: white; font-weight: 400">
						Add users that are currently present in the group by typing their
						email id.
					</small>
				</div>
                <div class="buttons" style="display: flex;justify-content:space-between">
                		<button
				
					class="btn btn-secondary"
				
				><a 	href="../">
				back
                </a>
				</button>
				<button
					type="submit"
					class="btn btn-primary"
				
				>
					create
				</button>
                </div>
			</form>
		</div>
	</body>
</html>
