<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
        <script>
			const ROOM_ID ="<%=room.id %>"
		</script>
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="/public/chat.js" defer></script>
        <link rel="stylesheet" href="/public/chat-style.css" />
	</head>
	<body>
        <div class="room_info">
		<%=room.name %>
		<br />
		<%=room.discription %>
		<button><a href="./video/">Connect</a></button>
		<a href='https://login.microsoftonline.com/common/oauth2/v2.0/logout?post_logout_redirect_uri=http://localhost:3000/logout/'>logout</a>
        </div>
        	<div class="box2">
		
				<div class="sender">
        <input id="chat-box">
		
		</input>
	  	<button  class="btn">
            <div onclick="message()">send</div> 
		</button>
	
		</div>
		<div id="messages">
		
			<h3 class="message">Chat Box</h3>

	  
	
		</div>
		</div>
	</body>
</html>
